*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Brother 1816';
  font-weight: normal;
  font-style: normal;
}
